<div class="row">
  <!-- Day 1 -->
  <div class="col-md-6">
    <h3>Day 1: Unix Shell + Git</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td>
          <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">
            Pre-workshop survey
          </a>
        </td>
      </tr>
      <tr>
        <td>Morning</td>
        <td>
          <strong>Unix Shell</strong><br>
          Introducing the Shell<br>
          Navigating Files and Directories<br>
          Working With Files and Directories<br>
          Pipes and Filters<br>
          Loops<br>
          Shell Scripts
        </td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td>
          <strong>Git and GitHub</strong><br>
          Automated Version Control<br>
          Setting Up Git<br>
          Creating a Repository<br>
          Tracking Changes<br>
          Exploring History<br>
          Ignoring Things<br>
          Remotes in GitHub<br>
          Collaborating and Conflicts
        </td>
      </tr>
    </table>
  </div>

  <!-- Day 2 -->
  <div class="col-md-6">
    <h3>Day 2: R Programming</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning</td>
        <td>
          <strong>R Fundamentals</strong><br>
          Analyzing Patient Data<br>
          Data Types and Structures<br>
          Addressing Data<br>
          Reading and Writing CSV Files<br>
          Creating Functions
        </td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td>
          <strong>Programming in R</strong><br>
          Analyzing Multiple Data Sets<br>
          Loops in R<br>
          Making Choices<br>
          Best Practices for Writing R Code<br>
          Dynamic Reports with knitr
        </td>
      </tr>
      <tr>
        <td>End</td>
        <td>
          <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">
            Post-workshop survey
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
